
.date-filter{

    .date-container{

        .text{
            font-size:1.8rem;
            font-weight: 700;
            color: var(--third-color);
            margin-bottom: 1rem;
        }


        
    }






}


.DateCalendar{

    font-size: 1.8rem;
    color: var(--primary-light-color);
    padding:1rem;
    border-radius:1rem;
}

.label{
    font-size:1.6rem;
}
